<html>
    <head>
        <title> Django boy </title>
    </head>

    <body>

        <!--
        <h1>
          <p>Hi there!</p>
          <p>It works!</p>
        </h1>
        -->

        <div>
            <h1><a href="/">Django Boy Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href=""> {{ post.title }} </a></h1>
                <p>{{ post.text | linebreaksbr }}</p>
            </div>
        {% endfor %}

        <div>
            <p>publish: 13.11.2018, 18:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>

        <div>
            <p>publish: 13.11.2018, 18:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>

        <div>
            <p>publish: 13.11.2018, 18:00</p>
            <h3><a href="">My 33333 post</a></h3>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            <em>Tabs em</em>
            <br />
            <strong>Tabs strong</strong>
            <ul>
                <li>first item</li>
                <li>second item</li>
            </ul>
        </div>
    </body>
</html>
